@media(max-width:768px){
  .cont96{
    display: none;
  }
    .fa-solid123{
        padding-left: 100px;
    }
    .fa-solid1{
      padding-top: 13px;
  }
  .cont97{
    display: none;
  }
  .cont98{
    display: none;
  }
 .row99{
  display: none;
 }
.headimg1{
  padding-left: 88px;
}

/* hr */
.hr1{
  display: none;
}   
.hr2{
  margin-top: -40px;
  margin-bottom: -66px;
}





 /*6 img  */
 .htd1{
  padding-left: 80px;
 }

.htd2{
  padding-left: 130px;
}
.htd3{
  display: none;
}
/*  */

.col101{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
}
.quality1{
  padding-right: 95px;
}
.col102{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  margin-top: 40px;
}
.col103{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.col104{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
}
/* owl corosel */


/*  img in img*/
.col105{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  margin-top: 40px;
}
.col105-1{
  height: 323px;
  margin-left: -21px;
}
#wrapper{
  position: relative;
}
#wrapper:before{
  display: none;
}
.col106{
  position: relative;
  width: 100%;
  min-height: 1px;
}
.col106-1{
  padding-left: 137px;
  padding-top: 42px;
}
.col107{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-top: 10px;
}
.col107-1{
  height: 96px; 
    margin-top: -19px; 
    padding-left: 26px;
}
.col107-2{
  height: 90px;
  margin-top: -122px;
}
.col107-2-1{
  padding-left: 151px;
}
.col107-4{
  margin-top: -122px;
}
.col107-4-1{
  padding-left: 145px;
}
.col107-5{
  padding-left: 26px;
}
.col107-6{
  margin-bottom: -129px;
}
.col107-6-1{
  padding-right: 60px;
}
/*  */

.col108{
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-top: -31px;
}
.col108-1{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 20px;
}
.col108-2{
  position: relative;
  width: 100%;
  min-height: 1px;
}
.col108-3{
  padding-left: 119px;
  padding-top: 73px;
}
.col108-4{
  margin-top: 0px;
}
.col108-5{
  margin-left: -139px;
  padding-bottom: 25px;
}
.col108-7{
  padding-left: 9px;
}
.col108-8{
  padding-left: 111px;
}
.col108-9{
  padding-left: 120px;
}
/* metal eng */
.col109-1{
  padding-left: 97px;
}
.col109-2{
  padding-left: 97px;
}
.col109-3{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-top: 10px;
  padding-bottom: 18px;
}
.col109-4{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-top: 10px;
  padding-bottom: 18px;
}
.col109-5{
  margin-bottom: -40px;
}
/* meet our team members */
.col110-4{
  padding-left: 38px;
  margin-bottom: 30px;
}
/* /* img-video */ 
.vidcon{
  margin-top: 44px;
}
.bg-video{
  display: none;
}
.col111-2{
  padding-top: 45px;
}
.col111-2-1{
  margin-left: -45px;
}
.col111-2-2{
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-left: 53px;
}
.col111-3{
  position: relative;
  width: 100%;
  min-height: 1px;
}
.col111-4{
  position: relative;
  width: 100%;
  min-height: 1px;
}
/* map */
.map5{
  position: relative;
  width: 100%;
  margin-bottom: 200px;
}
.col112-1{
  position: relative;
  width: 100%;
  width: 92%;
  height: 197%;
  padding-left: 29px;
}
.col112-2{
  position: relative;
  width: 100%;
  padding-left: 33px;
}
.col112-2-1{
  position: relative;
  width: 100%;
  padding-right: 100px;
}


/* form */
.col112-3{
  position: relative;
  width: 100%;
}
.col112-3-1{
  padding-left: 34px;
  padding-bottom: 10px;
}
.col112-3-2{
  padding-left: 34px;
}
.col112-3-3{
  padding-left: 22px;
}
.int12{
  width: 316px;
}
.int123{
  width: 316px;
}
/* footer */
.col-foot-12{
  padding-left: 17px;
 
}


/* corosel */
.col112{
   position: relative;
   width: 100%;
}
.col112-1-1{
  position: relative;
   width: 100%;
  padding-left: 97px  !important;
  padding-top: 38px;
}
.col112-1-2{
  padding-left: 30px;
}




}
